<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 配置注解扫描指定的类包 -->
	<!--<context:component-scan base-package="test.component"/>
	<aop:aspectj-autoproxy/> 
	
-->
	<context:property-placeholder location="classpath:drm.properties" />
	<import resource="datasource-config.xml"/>

	<bean id="testBS" class="test.lockTest.bs.impl.LockTestBSImpl">
		<property name="lockTestDAO">
			<ref bean="testDAO"/>
		</property>
	</bean>
	
	<bean id="testDAO" class="test.lockTest.dao.impl.LockTestDAOImpl" parent="basedao"></bean>
</beans>